<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chap11_protocolSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>768AF57C1EFA288300EF408D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>768AF5901EFA288400EF408D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>768AF59B1EFA288400EF408D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
